.hero-container-outer
{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.hero-container-inner
{
    position: absolute;
}

.hero-image-text
{
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 200px;
}

.buttons-container
{
    display: flex;
    justify-content: space-between;
    width: 25%;
}

@media screen and (max-width: 800px)
{
    .buttons-container
    {
        flex-direction: column;
        width: 100%;
    }
}