.hero-container-outer
{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.hero-container-inner
{
    position: relative;
}

.hero-image-text
{
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 200px;
}

.hero-image 
{
    width: 100%;
}

.buttons-container
{
    display: flex;
    justify-content: space-between;
    width: 25%;
}

@media screen and (max-width: 1200px)
{
    .buttons-container
    {
        flex-direction: column;
        width: 100%;
    }

    .hero-container-outer
    {
        height: 300px;
    }

    .hero-image-text
    {
        padding-top: 100px;
    }

    .landing-page-button
    {
        width: 200px;
        margin: 10px;
    }
}